<div class="login-wrapper">
  <div class="login-box">
    <h1>Login</h1>
    <p class="subtitulo">SIGEMA APP</p>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <input
        id="uname"
        type="text"
        name="cedula"
        placeholder="Cédula"
        required
        [(ngModel)]="loginData.username"
      />

      <input
        id="pass"
        type="password"
        name="password"
        placeholder="Contraseña"
        required
        [(ngModel)]="loginData.password"
      />

<div class="btn-container">
  <button
    id="login-btn"
    type="submit"
    [disabled]="!loginForm.form.valid">
    Login
  </button>
</div>

    </form>
  </div>
</div>
