<div class="fondo">
  @if(isLoading){
  <div class="form text-center">
    <p><strong> Cargando... </strong></p>
    <div class="spinner-border text-dark" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>
  } @if(!isLoading){
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <h3>Login</h3>

    <label for="username">Cédula</label>
    <input
      type="text"
      placeholder="Cédula"
      id="username"
      name="username"
      [(ngModel)]="loginData.username"
      required
      #username="ngModel"
    />

    <label for="password">Contraseña</label>
    <input
      type="password"
      placeholder="Contraseña"
      id="password"
      name="password"
      [(ngModel)]="loginData.password"
      required
      #password="ngModel"
    />

    <button type="submit" [disabled]="loginForm.invalid">Ingresar</button>
  </form>
  }
</div>
